* {
    margin: 0;
    padding : 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

header {
    background-color: white;
    color: white;
    margin-bottom : 30px;
}

.header-container {
    display: flex;
    padding: 60px 90px 30px 90px;
    align-items : center;
}

.logo img {
    height: 80px;
    margin-right : 70px;
}

/* 검색창 */
.search-box {
    position : relative; /* 입력창과 버튼을 가로로 나란히 배치 */
    display : inline-block;
    width : 480px;
    margin-right : 420px;
}

.input-box {
    width : 100%;
    border : 2px solid #007FFF; /* 파란색 테두리 */
    border-radius : 10px; /* 테두리 모서리 둥글게 처리 */
    flex-grow: 1; /* 입력창이 버튼보다 더 넓게 차지 */
    padding : 20px 70px 20px 20px;
    height : 60px;
    font-size : 16px;
    box-sizing : border-box;
}

.input-button {
    position : absolute;
    right : 10px;
    top : 0;
    height : 100%;
    width : 60px;
    size : 10px;
    padding : 0px;
    cursor : pointer;
    background: none;
    border: none;
    color : #007FFF
}

/* 로그인 및 회원가입 */
.login-section {
    display : flex;
    gap : 50px;
}

.login-section a {
    text-decoration : none; /* 밑줄 제거 */
    color : #bcbcbc;
}

.login-section a:hover,
.login-section a:active,
.login-section a:focus {
    color : #007FFF;
    font-weight: bold;
}


/* 선택 영역 */
.selection {
    margin : 0 auto;
}


.selection nav ul {
    display : flex;
    list-style : none;
    padding : 0;
    justify-content: center;
    gap : 300px;
}

.selection nav ul li {
    gap : 300px;
}

.selection nav ul li a {
    text-decoration : none;
    color : black;
    letter-spacing: 3px;
}

.selection nav ul li a:hover,
.selection nav ul li a:active,
.selection nav ul li a:focus,
.footer-links a:hover,
.footer-links a:active,
.footer-links a:focus {
    color : #007FFF;
    font-weight: bold;
}

/* 구분선 */
hr {
    border : none;
    height : 0.1px;
    background-color : #bcbcbc;
    box-shadow : 0 2px 5px rgba(0, 0, 0, 0.2);
    margin-bottom: 150px;
}

.login-form, h2{
    text-align : center;
    justify-content : center;
    align-items : center;
    flex-direction : column;
}

h2 {
    margin-bottom : 50px;
}

/* 로그인 입력창 */
input {
    width : 390px;
    height : 65px;
    padding : 10px 15px;
    border : 1px solid #bcbcbc;
    border-radius : 5px;
    box-sizing : border-box;
    font-size : 14px;
}

/*입력창 포커스 시*/
input:focus {
    border : 2px solid #007FFF;
    outline : none;
}

.form-group, .login-button{
    margin-bottom : 15px;
}

.footer-links a {
    display : flex;
    justify-content : flex-end;
    padding-right : 567px;
    text-decoration : none; /* 밑줄 제거 */
    color : #bcbcbc;
    font-size : 14px;
}


.footer-links {
    margin-bottom : 25px;
}

/*로그인 버튼*/
.login-button button{
    width : 390px;
    height : 65px;
    padding : 10px 15px;
    font-size : 18px;
    font-weight : bolder;
    letter-spacing : 5px;
    cursor : pointer;
    border-radius : 5px;
    box-sizing : border-box;
    border : 1px solid #007FFF;
}

#login-btn {
    color : white;
    background-color : #007FFF;
}

#join-btn {
    color : #007FFF;
    background-color : white;
}
